@import "tailwindcss";

html, body {
  height: 100%;
}

body {
  background: radial-gradient(
      circle at 20% 10%,
      rgba(124, 92, 255, 0.25),
      transparent 40%
    ),
    radial-gradient(
      circle at 80% 80%,
      rgba(34, 211, 238, 0.15),
      transparent 40%
    ),
    #0f1115;
  color: #f1f5f9;
}